@media only screen and (min-width: 768px) {
  /* For desktop */
  .mobile-page-wrapper{
    display: none;
  }

  * {
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .bg-img-base {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .messages {
    background-color: darksalmon;
    height: 500px;
  }
  
  .line1 {
    display: none;
  }
  
  .line2 {
    display: none;
  }
  
  .line3 {
    display: none;
  }
  
  .line4 {
    display: none;
  }
  
  .line1 > p {
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .line3 > p {
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .line2 > p {
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .line4 > p {
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  h1 {
    font-family:cursive;
    margin-left: 180px;
  }
  
  .page-wrapper {
    background: linear-gradient(120deg, #d83c3c, #d6d64c, #105810);
    padding-top: 100px;
    min-height: 100vh;
  }
  
  .card-center {
    position: relative;
    min-height: 500px;
  }
  
  .card-packaging {
    width: 30%;
    display: block;
    margin: 0 auto;
    position: relative;
    min-height: 500px;
    box-shadow: 0 0 6px 2px #926c6c;
  }
  
  .card .open {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
    transition: 0.3s;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  
  .card .open:hover {
    right: -10px;
    transition: 0.3s;
  }
  
  .card .open-tail {
    position: relative;
    height: 36px;
    width: 30px;
    float: left;
  }
  
  .card .open-tail:before {
    content: "";
    display: block;
    border-top: 18px solid #d24242;
    border-left: 30px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .card .open-tail:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    border-top: 18px solid transparent;
    border-right: 30px solid #d24242;
  }
  
  .card .open-main {
    display: inline-block;
    line-height: 36px;
    background: #d24242;
    padding: 0 3px 0 0;
  }
  
  .card .open-title {
    display: inline-block;
    line-height: 30px;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    padding: 0 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .card--first,
  .card--third {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: all 0.9s;
    transform-style: preserve-3d;
    z-index: 2;
    box-shadow: 2px 0 6px 2px #926c6c;
  }
  
  .card--first {
    transition-delay: 0.4s;
  }
  
  .card--third {
    z-index: 1;
    transform-origin: right;
    transition: all 0.9s;
    box-shadow: -2px 0 6px 2px #926c6c;
  }
  
  .card-packaging.is-open .card--first {
    transform: rotateY(180deg);
    transition: all 0.9s;
  }
  
  .card-packaging.is-open .card--third {
    transform: rotateY(180deg);
    transition: all 0.9s;
    transition-delay: 0.4s;
  }
  
  .card-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 15px 25px;
  }
  
  .card-wrapper.back {
    transform: rotateY(180deg);
  }
  
  .close {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile */
  .page-wrapper {
    display: none;
  }

  .mobile-page-wrapper {
    background: linear-gradient(120deg, #d83c3c, #d6d64c, #105810);
    padding-top: 100px;
    min-height: 100vh;
  }

  img {
    width: 60%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .card {
    width: 350px;
    height: 800px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .card:hover .outside {
    transform: rotateX(130deg)
  }
  .outside, .inside {
    border: 1px solid black;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50.1%;
  }
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index:1;
    transform-origin: top;
    transition: 2s;
  }
  .inside {
    background: linear-gradient(to right, #e7e7e7, #ffffff 30%);  
  }
  .front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  .front {
    background-color: #ffffff;
  }
  .back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
    background-image: url(./files/Phuong.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: rotateX(180deg);
  }
  .outside p {
    font-size: 16px;
    text-transform: uppercase;
    font-family: cursive;
    margin-left: 20px;
  }
  .inside p {
    font-size: 14px;
    font-family: cursive;
    margin-left: 6px;
    margin-right: 6px;
  }
}
